@import '~@openfonts/vt323_all/index.css';

* {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  padding: 5px;
}

.container {
  margin: auto;
}

body {
  background: #000;
  font-family: 'vt323_all', 'Courier New', Courier, monospace;
  overflow: hidden;
}

/* Navbar Styling */
.navbar {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  background: #ccc;
  overflow: auto;
}

.navbar ul {
  margin: auto;
  list-style: none;
}

.navbar li {
  float: left;
  display: block;
}

.navbar li a {
  background: #ccc;
  color: #000;
  background: #ccc;
  text-decoration: none;
  padding: 8px 20px;
  color: #000;
  cursor: pointer;
}

.navbar li a:hover {
  color: #bbbbbb;
  background: #000000;
}

.navbar li a.active {
  background-color: #000;
  color: #cccccc;
}

div.mainheader {
  color: #32b31d;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #32b31d;
  text-transform: uppercase;
  display: flex;
}

.ascii-art {
  padding-left: 30px;
  flex-grow: 3;
  color: #32b31d;
}

div.filler {
  flex-grow: 3;
}

div.mainheader div.timer {
  display: inline-block;
  margin-right: 50px;
  font-size: 5rem;
}

div.menudialog {
  max-width: 480px;
  margin: auto;
  background: #ccc;
  padding: 10px 4px 8px 4px;
  box-shadow: 16px 16px 0px 0px #000;
  margin-top: 150px;
}

div.menudialog div.menuouter div.menuheader {
  position: relative;
  top: -25px;
  height: 0;
  text-align: center;
}

div.menudialog div.menuouter div.menuheader span {
  padding-right: 5px;
  padding-left: 5px;
  background-color: #ccc;
  color: #725dfc;
  text-transform: uppercase;
}

div.menudialog div.menuouter div.menutoptext {
  margin-top: -7px;
  margin-bottom: 4px;
}

div.menudialog div.menuouter {
  position: relative;
  padding: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
}

div.menudialog div.menuouter div.menutopborder,
div.menudialog div.menuouter div.menubottomborder {
  position: absolute;
  border: none;
  width: 5px;
  height: 1px;
}

div.menudialog div.menuouter div.menutopborder {
  top: -1px;
  right: -1px;
  background-color: #000;
}

div.menudialog div.menuouter div.menubottomborder {
  bottom: -1px;
  left: -1px;
  background-color: #fff;
}

div.menudialog div.menuouter div.menuoptions {
  position: relative;
  padding: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #fff;
}

div.menudialog div.menuouter div.menuoptions div.menutopborder {
  background-color: #fff;
}
div.menudialog div.menuouter div.menuoptions div.menubottomborder {
  background-color: #000;
}

div.menudialog div.menuouter div.menuoptions ul {
  list-style: none;
  padding-left: 30px;
  padding-right: 4px;
}

div.menudialog div.menuouter div.menuoptions ul li a {
  height: 1.2em;
  padding: 3px 2px 1px 2px;
  overflow: hidden;
  text-decoration: none;
  color: #000;
}

div.menudialog div.menuouter div.menuoptions ul li a:hover,
div.menudialog div.menuouter div.menubuttons a:hover,
div.menudialog div.menuouter div.menuoptions ul li a:focus,
div.menudialog div.menuouter div.menubuttons a:focus {
  color: #fff;
  background-color: #00f;
}

div.menudialog div.menuouter div.menuoptions ul li a:before {
  content: '[\0000a0]\0000a0';
  display: inline;
}

div.menudialog div.menuouter div.menuoptions ul li a.checked:before {
  content: '[x]\0000a0';
  display: inline;
}

div.menudialog div.menuouter div.menuoptions ul li a:after {
  content: '\0000a0--->';
  display: inline;
}

div.menudialog div.menuouter div.menuoptions ul li a span,
div.menudialog div.menuouter div.menubuttons a span {
  color: #725dfc;
}

div.menudialog div.menuouter div.menuoptions ul li a:hover span,
div.menudialog div.menuouter div.menubuttons a:hover span,
div.menudialog div.menuouter div.menuoptions ul li a:focus span,
div.menudialog div.menuouter div.menubuttons a:focus span {
  color: #f7fb54;
}

div.menudialog div.menuouter div.menubuttons {
  position: relative;
  width: 100%;
  margin: 15px 0 -7px -15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #fff;
  text-align: center;
}

div.menudialog div.menuouter div.menubuttons a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 2px;
  text-decoration: none;
  color: #696969;
}

div.menudialog div.menuouter div.menubuttons a:before,
div.menudialog div.menuouter div.menubuttons a:after {
  display: inline;
  color: #000;
}

div.menudialog div.menuouter div.menubuttons a:hover:before,
div.menudialog div.menuouter div.menubuttons a:hover:after,
div.menudialog div.menuouter div.menubuttons a:focus:before,
div.menudialog div.menuouter div.menubuttons a:focus:after {
  color: inherit;
}

div.menudialog div.menuouter div.menubuttons a:before {
  content: '\003c\0000a0';
}
div.menudialog div.menuouter div.menubuttons a:after {
  content: '\0000a0\003e';
}

div.menudialog div.menuouter div.menubuttons div.menutopborder {
  background-color: #000;
}

.textInput {
}

.menuoptions .formGroup {
  position: relative;
}

.formGroup {
  padding: 20px 20px;
  display: flex;

  height: 25px;
}

label.label {
  padding-top: 12px;
  display: inline-block;
  width: 20%;
}

.textInput {
  display: inline-block;
  position: relative;
  max-width: 80%;
  flex-grow: 3;
  background-color: #b7b7b7;
  padding-left: 5px;
  height: 29px;
  left: 5px;
}

.btn {
  display: inline-block;
  position: relative;
  width: 93%;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
  cursor: pointer;
}

.btn:hover {
  background-color: #999;
}

.note {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 7px;
  font-size: 0.8rem;
  text-decoration: none;
  text-align: center;
  width: 90%;
}

div.note .clickable:before {
  content: '<';
  display: inline;
}

div.note .clickable:after {
  content: '>';
  display: inline;
}

div.note .clickable:hover {
  color: #725dfc;
}
div.note .clickable a:hover {
  color: #32b31d;
}

div.note a {
  color: #725dfc;
  font-weight: bold;
}

div.menudialog.container {
  margin: auto;
  width: 70%;
}

.contentcolumned {
  display: flex;
  height: 50vh;
}

.menusidebar {
  flex-grow: 1;
  max-width: 30%;
  margin-right: 15px;
}

.menusidebarbody {
  flex-grow: 3;
  margin-left: 5px;
}

.menudialog.menudialogbig {
  max-width: 1200px;
  margin-top: 70px;
  height: 60vh;
}

.menudialog.menudialogbig .menuouter {
  height: 55vh;
}

.menudialog.menudialogmobile {
  margin-top: 20vh;
  width: 40vh;
}

.menudialog.menudialogloading {
  margin-top: 20vh;
  max-width: 400px;
  height: 35px;
}

.menuouter.menuouterloading {
  height: 7px;
}

.challengeBody a {
  color: #f00000;
}

.challengeBody a:hover {
  color: maroon;
}

.challengeBody a::after {
  content: '>';
}

.challengeBody a::before {
  content: '<';
}

.menuoptions.menusidebar {
  width: 100%;
  display: flex;
}

.menuoptions.menusidebar {
  border-top: 0px;
  border-bottom: 0px;
  cursor: pointer;
}

.menuoptions.menusidebar ul li {
  font-weight: bold;
  font-size: 1.1rem;
}
.menuoptions.menusidebar ul li:hover {
  background-color: #b7b7b7;
}

#challenges {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-left: 5px;
}

.ctitle {
  border-top: 1px solid;
  width: 100%;
  flex-grow: 1;
  padding-top: 5%;
  text-indent: 10px;
  text-align: start;
}

.btnSmallOuter {
  padding-left: 10%;
  padding-bottom: 10px;
  padding-right: 10%;
}

.btnSmall {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 15px;
  padding: 15px;
  margin-top: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
  cursor: pointer;
}

.btnSmall:hover {
  background-color: #999;
}
